.anchor{
  display: block;
  height: 55px; /*same height as header*/
  margin-top: -55px; /*same height as header*/
  visibility: hidden;
}

.bg-image {
  background-image: url(../images/jumbo1.png);
  background-size: cover;
  background-position: center;
  color: white;
  padding-top: 150px ;
  padding-bottom: 150px ;
  font-family: Montserrat, sans-serif;
  font-size: 21px;
  text-align: center;
  text-shadow: 2px 2px 2px #343A40 ;

}
h1 {
  font-size: 60px;
  font-weight: lighter;
}
h2 {
font-size: 25px;
font-weight: normal;
font-variant: small-caps;
}
.picto_presentation {
  width: 180px;
  display: block;
  margin-right: auto;
  opacity: 0.5;
}

.picto_action {
  width: 200px;
  display: block;
  margin-right: auto;
  opacity: 0.5;
}

.back1{
  background-color: #ecf4ff;
  padding-top: 70px;
}
.back2{
  background-color: #f7faff;
  padding-top: 70px;
}
.back3{
  background-color: #ecf4ff;
  padding: 20px;
}
.back4{
  background-color: #f7faff;
  padding-top: 70px;
}

.navhaut {
  background: #1b365b !important;

}

.btn-primary {
  background-color: #ed0a50 ;
  border-radius: 16px;

}
.nav-link {
  color: #e3e3e3 !important;
}

#anim:hover {
  transition: transform 5s;
  transform:rotate(360deg);
}
